  <header class="header">
    <a href="/" class="logo">
      <h1>Task.io</h1>
    </a>
    <nav>
      <ul class="nav_list">
        <li>
          <a href="">Favorites</a>
        </li>
        <li>
          <a href="">Private Lists</a>
        </li>
        <li>
          <i class="fas fa-sign-out-alt"></i>
        </li>
        <!-- <ul class="aside_list-item"></ul> -->
      </ul>
    </nav>
  </header>