// Definition of the grid
.new_login-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    'left right'
    'left right';
  height: 100vh;
  overflow: hidden;
}

.new_user-form {
  grid-area: right;
  display: flex;
  align-self: center;
  justify-self: center;
  width: 350px;
}

.new_login_left_image {
  grid-area: left;
}

.login-fields label {
  font-family: Poppins;
}

.login-fields .email-field, .password-field {
  margin: 20px 0;
}

// Other styles

.new_login-wrapper img {
  grid-area: left;
  object-fit: contain;
  max-width: 100%;
}

.new_login-wrapper h2 {
  font-family: Poppins;
}

.remember-actions {
  display: flex;
  justify-content: space-between;
  font-family: Poppins;
}

.actions input[type='submit'] {
  width: 100%;
  height: 49px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #04c35c;
  color: #fff;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
}

// Login
.login-fields input[type="email"], input[type="password"] {
  width: 100%;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  height: 50px;
}
