.grid-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 100px 200px 1fr;
  grid-template-areas:
    'header header header'
    'user user user'
    'main main main';
  height: 100vh;
}

.header {
  grid-area: header;
  background: #fff;
  border-bottom: 0.5px solid #ebebf9;
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr auto;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  max-width: 200px;
  color: #000;
  font-family: Poppins;
  font-weight: 600;
  text-decoration: none;
}

.header nav ul {
  display: flex;
}

.header nav a {
  display: block;
  padding: 10px;
  color: #000;
  font-size: 1.125em;
  text-decoration: none;
  font-family: 'Poppins';
}

// MAIN section
.main {
  grid-area: main;
  height: 100vh;
  display: grid;
  margin: 30px;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(610px, 1fr));
  grid-auto-rows: 240px;
  grid-auto-flow: dense;
  max-width: 100vw;
}

.main .card-container {
  padding: 20px;
  background: #6e41e2;
  border-radius: 4px;
  position: relative;
}

.card-item .description {
  font-family: Poppins;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 20px;
  max-width: 570px;
}

.card-container .intro {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: Poppins;
  font-weight: 600;
}

.card-container .card-info {
  width: 100px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card-container .card-info i {
  color: #fff;
}

// SECTION CREATE_NEW
.create_new {
  display: flex;
  justify-content: space-between;
  margin: 40px;
  align-items: center;
}

.create_new h1 {
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 2.5rem;
}

.create_new .new_task-btn {
  width: 231px;
  height: 50px;
  background: #6e41e2;
  font-family: 'Poppins';
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
