// Main grid
.grid-container {
  display: grid;
  grid-template-columns: 330px 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    'aside header'
    'aside main'
    'aside main';
  height: 100vh;
}

// Give .grid-container childer i'ts grid name

// ONLY HEADER STYLES
header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background: #fff;
  margin: 20px;
  border-radius: 4px;
}

header h1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 2em;
}

.new-task-btn {
  width: 160px;
  height: 42px;
  background: #34aff9;
  color: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 600;
}

.new-task-btn:hover {
  background: #037ecf;
}

// ONLY ASIDE STYLES (SIDENAV)
aside {
  grid-area: aside;
  background-color: #fff;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    'logo'
    'content';
  position: fixed;
  min-width: 330px;
  height: 100vh;
}

aside h1 {
  align-self: center;
  justify-self: center;
  font-family: Poppins;
}

aside .aside_list {
  margin-top: 85px;
  list-style: none;
}

aside .aside_list .aside_list-item {
  padding: 20px 20px 20px 40px;
  color: #037ecf;
  font-family: 'Montserrat';
}

// ONLY MAIN SECTION STYLES
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 50% auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, auto));
  column-count: 2;
  grid-gap: 10px;
  margin: 0 20px 20px 20px;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  filter: drop-shadow(0px 6px 18px rgba(0, 0, 0, 0.06));
  border-radius: 4px;
}

.card-item .intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-item .intro h2,
.card-item .intro p {
  font-family: 'Poppins';
  font-weight: 600;
}
