// .main-wrapper {
//   display: flex;
// }

// .sidebar {
//   height: 100vh;
//   background: blue;
//   width: 400px;
// }

// .todo-list-card {
//   background: #fff;
//   padding: 20px;
//   margin: 10px;
// }

// .todo-list-card h3 {
//   font-family: 'Nunito';
//   font-weight: 700;
//   font-size: 1.3rem;
// }

.grid-container {
  display: grid;
  grid-template-columns: 290px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'sidenav main';
  height: 100vh;
}

// Sidenav grid config
.sidenav {
  grid-area: sidenav;
  background: #f8f8f8;
  height: 100vh;
  display: grid;
  grid-template-rows: 120px 80px 1fr;
  grid-template-areas:
    'logo'
    'button'
    'main-side-content';
}

.sidenav .logo {
  grid-area: logo;
  align-self: center;
  justify-self: center;
  font-weight: 700;
  font-family: Nunito;
  font-size: 1.7rem;
}

.sidenav .new-task-btn {
  grid-area: button;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: 40px;
  align-self: center;
  justify-self: center;
  background: #0052cc;
  padding: 25px 30px;
  color: #fff;
  text-decoration: none;
  font-family: 'Nunito';
  font-weight: 700;
  border-radius: 6px;
  box-shadow: 0px 4px 10px rgba(16, 156, 241, 0.24);
  transition: 0.5s ease;
}

.sidenav .new-task-btn:hover {
  background: #1372ff;
}

// Main section grid config
.main {
  grid-area: main;
}
