@import "todo_lists";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* General resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* Some general styles */
html, body {
  font-family: 'Montserrat';
}
